#myVideo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }

  .viewport-header {
    position: relative;
    height: 100vh;
    
  }

  li{
      color: white;
  }
  h1{
      color:white;
  }
  h2{
      color: white;
  }